.brain-button {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  align-items: center;
  background: transparent;
  border-width: 0;
  padding: 0;
  line-height:0px
}
